/* REGOLE DI RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */
.flex {
    display: flex;
}

.container1000 {
    max-width: 1000px;
    margin:0 auto;
}

.container1100 {
    max-width: 1100px;
    margin:0 auto;
}

.container1200 {
    max-width: 1200px;
    margin:0 auto;
}


.inline-block {
    display: inline-block;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px;
}
